#wallet-screen {
    width: 100%;
    height: 100%;
    text-align: center;

    display: grid;
    grid-template-rows: 8rem 1fr;  /* 8rem based on page title */
}

#wallet-screen > section {
    margin: 3em;
    background-color: white;    
}

