/* Token Screen */
#token-screen {
    width: 100%;
    height: 100%;
    text-align: center;

    display: grid;
    grid-template-rows: 8rem 1fr;  /* 8rem based on page title */
}

#list-token-screen-body,
#mint-token-screen-body {
    margin: 3em;
    background-color: white;
}

/* List Tokens */
#page-mint-token-btn {
    text-align: right;
    padding: .5em 0;
}

#page-mint-token-btn button {
    display: inline-block;
}

#card-list-tokens {
    height: 90%;
    width: 100%;
}

/* MintToken */
#token-form {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;;
}

#token-form form {
    height: 100%;
    width: 50%;
}

#token-form .input-list {
    display: flex;
    flex-direction: column;
}

#token-form .input-list>*:first-of-type {
    margin-top: 3em;
}

#token-form input {
    width: 100%;
    padding: .8em .5em;
    margin-bottom: .7em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .3em;

    font-size: medium;
}

#token-form-submit-token {
    text-align: right;
}

#token-form-submit-token button {
    display: inline-block;
}

.back-button-div {
    width: 100%;
    padding-left: 4em;
    text-align: left;
}

.back-button-div button {
    display: inline-block;
}