/* Token Screen */
#token-screen {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 3em;
}

#token-screen>* {
    padding: 1em;
    height: calc(95% - 3em);
}

/* List Tokens */
#page-mint-token-btn {
    text-align: right;
    padding: .5em 0;
}

#page-mint-token-btn button {
    display: inline-block;
}

#card-list-tokens {
    height: 90%;
    width: 100%;
}

/* MintToken */
#token-form {
    height: 97%;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#token-form form {
    height: 100%;
    width: 50%;
}

#token-form .input-list {
    display: flex;
    flex-direction: column;
}

#token-form .input-list>*:first-of-type {
    margin-top: 3em;
}

#token-form input {
    width: 100%;
    padding: .8em .5em;
    margin-bottom: .7em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .3em;

    font-size: medium;
}

#token-form-submit-token {
    text-align: right;
}

#token-form-submit-token button {
    display: inline-block;
}

.back-button-div {
    width: 100%;
    padding-top: 2em;
    padding-left: 4em;
    text-align: left;
}

.back-button-div button {
    display: inline-block;
}