h1 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.btn-primary {
    padding: .4em 1.2em;
    font-weight: bold;
    border: none;
    border-radius: .3em;

    background-color: #48CD68;
    color: white;
}

.btn-primary:hover {
    background-color: rgba(72, 205, 104, 0.8);
}

.btn-gray {
    padding: .4em 2em;
    font-weight: bold;
    border: none;
    border-radius: .3em;

    background-color: #888;
    color: white;
}

.btn-gray:hover {
    background-color: #999;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.page-title {
    text-align: center;
    padding: 1em 0;
}
