table {
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

tr:nth-child(even) {
    background-color: #F2F2F2;
}

tbody tr:hover {
    background-color: #DDD;
    cursor: pointer;
}

thead td {
    padding: 1.2em;
    font-size: large;
    font-weight: bold;
    background-color: #48CD68;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

tbody td {
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
