#loading-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;

    background-color: rgba(0, 0, 0, .3);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-screen span {
    color: white;
    font-size: xx-large;
    font-weight: bold;
}